{% extends "exeatsapp/layout.html" %}

{% block content %}
<h1>
  Send Emails to Students
</h1>
<p>
  A sign-up email with the following body will be sent to the students below.
</p>
<p>
  Note that the text [link] will be replaced by a special hyperlink for each student to sign up.
</p>
<p>
  Alternatively, you can <a href="mailto:{{ tutor.email }}" onclick="composeLink()">send an email to the selected recipients</a> using your own email client.
</p>
<script type="text/javascript">
  d = new Date()
  current_timestamp = d/1000|0;
  d.setDate(d.getDate() - 14); // we define 'recent' to be within the last two weeks
  earliest_recent_timestamp = d/1000|0;

  function map_checkboxes(f){
    checkboxes = document.getElementsByClassName('student_checkbox');
    for(i=0; i<checkboxes.length; i++){
      f(checkboxes[i]);
    }
  }

  function recent(x){ return x.getAttribute('data-timestamp-last-slot') > earliest_recent_timestamp}
  function prospective(x){ return x.getAttribute('data-timestamp-last-slot') > current_timestamp}
  function attended(x){ return x.getAttribute('data-timestamp-last-slot') == x.getAttribute('data-timestamp-last-attended')}

  function changeAll(checked){
    map_checkboxes(function(x){return x.checked = checked})
  }

  function selectNoResponse(){
    map_checkboxes(function(x){return x.checked = !recent(x)})
  }

  function selectMissed(){
    map_checkboxes(function(x){return x.checked = recent(x) && !prospective(x) && !attended(x)})
  }

  function selectSeen(){
    map_checkboxes(function(x){return x.checked = recent(x) && !prospective(x) && attended(x)})
  }

  function selectProspective(){
    map_checkboxes(function(x){return x.checked = prospective(x)})
  }

  function selectInverse(){
    map_checkboxes(function(x){return x.checked = !x.checked})
  }

  function composeLink() {
    mailto = 'mailto:{{ tutor.name }}<{{ tutor.email }}>?bcc=' + map_checkboxes(function(x){return x.getAttribute('data-email')}).join(', ');
    document.getElementById('emailLink').href = mailto
  }
</script>
<form action="." enctype="application/x-www-form-urlencodod" method="post" id="form_studentsToEmail">
  {% csrf_token %}
  <input value="studentsToEmail" type="hidden" name="submitted" />
  <div class="form">
    <table>
      <tr>
        <td></td>
        <td></td>
        <td class="description">

        </td>
      </tr>
      <tr>
        <td class="label">

        </td>
        <td class="required">

        </td>
        <td class="field">
          <textarea cols="50" rows="12" name="emailBody" id="fld_emailBody">Please follow the link below to sign up for a meeting with your Tutor.

[link]

Regards,
{{ tutor.name }}
{{ tutor.email }}

</textarea>
        </td>
      </tr>
      <tr>
        <td class="label">

        </td>
        <td class="required">

        </td>
        <td class="field">
          <p>
            Please select which students this email should be sent to from the list below.
          </p>
          <p>
            {#todo: make all of these filters work in js#}
            <small>
                <a href="javascript:changeAll(true)">All</a>
              | <a href="javascript:changeAll(false)">None</a>
              | <a href="javascript:selectNoResponse()">Not signed up</a>
              | <a href="javascript:selectMissed()">Missed appointment</a>
              | <a href="javascript:selectSeen()">Seen in last fortnight</a>
              | <a href="javascript:selectProspective()">Scheduled to see</a>
              | <a href="javascript:selectInverse()">Invert</a> </small>
          </p>
        </td>
      </tr>
      <tr>
        <td class="label">

        </td>
        <td class="required">

        </td>
        <td class="field">
          {% for student in students %}
          <input class="student_checkbox" type="checkbox" onkeypress="return event.keyCode != 13;" class="checkbox" name="student_{{ student.id }}"
            data-email="{{ student.email }}"
            data-timestamp-last-slot="{{student.last_slot | date:'U'}}"
            data-timestamp-last-attended="{{student.last_attended | date:'U'}}" />
          {{ student.name }} ({{ student.email }})<br />
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
  <div class="action">

    <p class="button">
      <input value="Send" type="submit" class="button" name="_submitBtn" id="fld__submitBtn" />
    </p>
    <div class="clear"></div>
  </div>
</form>
{% endblock %}
