{% extends "exeatsapp/layout.html" %}

{% block content %}
<h1>
  Exeat History
</h1>
<p>
Below is a historical list of terminal exeat times.
</p>
<table>
{% for slot in slots %}
  <tr>
    <td>
      {{ slot.start | date:"SHORT_DATETIME_FORMAT" }}
    </td>
    <td>
      {{ slot.location }}
    </td>
    <td>
      {% if slot.allocatedto %}
      <a href="mailto:{{ slot.allocatedto.email }}">{{ slot.allocatedto.name }}</a>
      {% else %}
      <em>available</em>
      {% endif %}
    </td>
    <td>
        {% include 'exeatsapp/_attended_toggle.html' %}
    </td>

  </tr>
{% endfor %}
</table>
{% endblock %}
