{% extends "exeatsapp/layout.html" %}

{% block content %}
<h1>
  Welcome
</h1>
<p>
  Exeats.com is a simple online system for students to choose times for their terminal exeats each term. It is easy to use and completeley free.
</p>
<p>
  If you are a tutor or student interested in making use of this system, please contact <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#111;&#110;&#46;&#112;&#114;&#101;&#116;&#116;&#121;&#64;&#112;&#114;&#111;&#112;&#101;&#110;&#115;&#105;&#118;&#101;&#46;&#99;&#111;&#109;">Jon Pretty</a> at <a href="http://www.propensive.com/">Propensive</a> for more information.
</p>
{% endblock %}
